/*------------------------------------*\
	#OVERRIDE STLES
	This style sheet can be used for two different functions:
	1. Override specific Bootstrap styles.
	2. Add your own styles.
\*------------------------------------*/

/**
 * Padding-top is required if using .navbar-fixed-top.
 * This can be removed Remove if using .navbar-static-top.
 * The height may need to be changed if the height of you
 * navigation changes.
*/

body { padding-top: 70px; }

.loginlabel {
	color: #777;
	padding-top: 15px;
	padding-bottom: 10px;
	line-height: 20px;
	font-weight: normal;
}

.logoutlabel {
	color: #777;
	padding-top: 12px;
	padding-bottom: 10px;
	line-height: 20px;
	font-weight: normal;
}


.form-control-large {
  resize: none;
  display: block;
  width: 100%;
  height: 136px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control-large:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control-large::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control-large:-ms-input-placeholder {
  color: #999;
}
.form-control-large::-webkit-input-placeholder {
  color: #999;
}




/**
 * Bootstrap requires a containing element to wrap site contents
 * and house the grid system. You may choose one of two containers.
 * Use .container for a responsive fixed width container.
 * Use .container-fluid for a full width container.

 * If using container-fluid, you may need to set a maximum width,
 * so that the container will not spread to the entire viewport.
*/

.container-fluid { max-width: 1200px; }



  .well{
	  width: 50%;
	  margin:0 auto;
  }

  .error:not(.form-control){
      color: red;
  }
  .error:focus {
  border-color: red;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(193, 66, 66, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(193, 66, 66, .6);
  }


  img.emoji {
     height: 1em;
     width: 1em;
     margin: 0 .05em 0 .1em;
     vertical-align: -0.1em;
  }

  /* for footer */
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin: 0 0 60px;
  }
  footer {
    text-align:center;
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 30px;
  }
